<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="vendor/autoload.php"
  colors="true"
  stopOnFailure="false"
  displayDetailsOnPhpunitDeprecations="true">

  <testsuites>
    <testsuite name="All">
      <directory suffix="Test.php">tests/</directory>
    </testsuite>
    <testsuite name="Webhook">
      <directory suffix="Test.php">tests/Webhook</directory>
    </testsuite>
    <testsuite name="Webhook:Handler">
      <file>tests/Webhook/HandlerTest.php</file>
    </testsuite>
    <testsuite name="Webhook:Domains">
      <directory suffix="Test.php">tests/Webhook/Domains</directory>
    </testsuite>
    <testsuite name="Webhook:Utilities">
      <directory suffix="Test.php">tests/Webhook/Utilities</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/Laravel</directory>
    </exclude>
  </source>
</phpunit>
